.back{
    width:150px;
    height:150px;
    border:20px solid rgba(0,0,0,0.3);
    padding:20px;
    background-image:url(http://img0.imgtn.bdimg.com/it/u=4049177653,3511942275&fm=15&gp=0.jpg);
    background-repeat: no-repeat;
}
.back{
    background-color:yellow;
    background-origin:border-box;
    background-clip:content-box;
}
